.app {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-rows: auto 1fr auto;

  > header {
    grid-area: header;
    text-align: center;
  }

  > main {
    grid-area: main;

    padding: 1rem;
    box-sizing: border-box;
  }

  > footer {
    grid-area: footer;

    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
  }
}
